* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 24px;
}

body {
  outline: 1px solid red;
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-direction: column;
  background-color: azure;
}

header,
footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: gainsboro;
}

header {
  height: 4rem;
  justify-content: center;
}

header nav {
  position: absolute;
  right: 1rem;
  line-height: 4rem;
}
a {
  text-decoration: none;
}
nav a,
nav button {
  font-size: 1.5rem;
}

/*only using to cap image sizes*/
img {
  max-width: 200px;
  max-height: 200px;
}

ul img {
  background-size: cover;
  overflow: hidden;
  width: 210px;
  height: 300px;
}

footer {
  justify-content: space-between;
  line-height: 100%;
  align-items: center;
}

/*Ids Elements*/
#main {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#imageContainers {
  background-color: blue;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: max-content;
  align-items: center;
}

#github-logo {
  width: 100px;
  height: 100px;
}
